VITE_API_BASE=
VITE_POSTGRES_URL=
VITE_VENDOR_WHATSAPP=233000000000
VITE_MTN_MOMO=0531234567
VITE_VODAFONE_CASH=0501234567
VITE_AIRTELTIGO_MONEY=0271234567
VITE_ADMIN_PASSWORD=admin123
VITE_GEMINI_API_KEY=
VITE_DEBUG=false
